h1 {
    text-align: center
}

.jumbotron {
    background-image: url("../images/background.jpg");
}

.list-group-item {
    font-size: 40px;
    font-weight: bold;
}

.thumbnail img {
    height: 100px;
    width: 100px;
}

#ranNumGen {
    background-color: yellow;
    font-size: 70px;
    font-weight: bold;
}

#userTotalScore {
    text-align: center;
    background-color: yellow;
    font-size: 70px;
    font-weight: bold;
}
