.jumbotron{

	background-image: url("../images/background.jpg");

}


.thumbnail img {
    height:100px;
    width:100px;
}

#ranNumGen{
	background-color: green;
	font-size: 70px;
	font-weight: bold;
}

#userTotalScore{
	background-color: green;
	font-size: 70px;
	font-weight: bold;

}

.winsLosses{
	background-color: yellow;
}